/**
 * @author: fanaimi - emiliano fantasia
 * @github: https://github.com/fanaimi/quick-utilities
 * @name: _reset.scss
 * @licence: none, public domain
 * @usage: {@import "reset";} into main scss
 * @started from: http://meyerweb.com/eric/tools/css/reset/
 * @clearFix: modern cf from nicolas gallagher
 * @box-sizing: modern from @MartinDoyleUK
 *
 * @addings: {
 *   main, canvas{
 *     display:block
 *   },
 *   img, iframe{
 *     vertical-align:top
 *   }
 * }
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* prevents gaps underneath images and iframes */
img, iframe{
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,  menu, nav, section, canvas, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
/**
 * inheriting box-sizing
 * @from @MartinDoyleUK
 **/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/**
 *  CF for modern browsers
 *  @url: http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body{background-color: #f1f2f3;font-family:arial, helvetica, sans-serif;}

h1{
   padding-top:20px;
   font-size: 2em;
   text-align: center;
    font-weight: bold;
}
.canv {
  background-color: #fff;
  box-shadow: 3px 3px 3px #333;
  margin: 30px auto;
  width: 1240px;
  height: 400px;
}

.btnsPar{
    text-align: center;
    margin-bottom: 50px;
    button{
        padding:13px;
        font-size: 120%;
    }
    button:nth-child(4){
        margin-left:40px;
    }

    button:nth-child(5){
        margin-right:40px;
    }
}

.textPar{
    text-align: center;
    margin:20px auto;
    font-size: 2em;
    a{
        color:#06c;
        text-decoration:none;

    }
    a:hover{
        color:#555;
    }
}